body {
	font-family: Helvetica, Arial, sans-serif;
}

html, body, #map-canvas { 
	height: 100%; 
	margin: 0; 
	margin-top: -20px;
	padding: 0;
	padding-bottom: 20px;
}

#bar {
	width: 100%;
	position:fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding-left: 50px;
	padding-bottom:20px;
	padding-top: 20px;
	margin-bottom:20px;
	font-weight: bold;
	font-size: 150%;
	border-bottom: 3px solid rgba(0, 0, 0, 0.6);
	border-top: 3px solid rgba(0, 0, 0, 0.6);
	color : rgba(0, 0, 0, 0.8);
	background: rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	color: white;
}

h1#roadtripName {
		float:left;
		margin: 0;
		padding: 0;
		margin-right: 15px;
}

h1 img {
	margin-right: 20px;
	height: 37px;
}

p#username {
	color:white;
	margin: 0;
			margin-top: 22px;

}

#image-wrapper {
  background-color: rgba(25, 25, 25, 0.5);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

#image-wrapper img {
  background-color: #fff;
  height: auto;
  line-height: 100%;
  margin: 10% auto;
  overflow: hidden;
  padding: 20px;
  position: relative;
  vertical-align: middle;
}